<!DOCTYPE html>
<html>
<head>
	<title>Timeline Demo</title>
	<script src="dist/vis.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.min.js"></script>
  <link href="dist/vis.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<script src="tasks/tasks.js"></script>

<div id="visualization"></div>

<h3>Tasks</h3>
<div id="tasks">
	<ul>
		<li v-for="task in tasks">
			{{ task.text }}
		</li>
		<input v-model="task_name">
		<button v-on:click="addTask">Add new task</button>
	</ul>
</div>

<div id="app">{{ message }}</div>




<script type="text/javascript">

	var tasks = new Vue({
		el: '#tasks',
		data: {
			tasks: [
				{ id: 1, text: "Work on WMS" }
			],
			task_name: ''
		},
		methods: {
			addTask: function() {
				this.tasks.push({ id: tasks.length++, text: this.task_name });
				this.task_name = '';
			}
		}
	})


	var app = new Vue({
		el: '#app',
		data: {
			message: "a"
		}
	})

	/* Timeline stuff */
	var customTimeBarId = 0;
	var container = document.getElementById('visualization');
	var groups = new vis.DataSet([
		{
			id: 1,
			"content": 'lachlan'
		}
	]);

	var items = new vis.DataSet([
		{
			id: 1,
			group: 1,
			content: "Work on WMS",
			start: new Date(2016, 08, 16, 8, 0, 0),
			end: new Date(2016, 08, 16, 9, 30, 0)
		},
		{
			id: 2,
			group: 1,
			content: "Learning Stream",
			start: new Date(2016, 08, 16, 9,30, 0),
			end: new Date(2016, 08, 16, 10, 30, 0)
		},
		{
			id: 3,
			group: 1,
			content: "Lunch",
			start: new Date(2016, 08, 16, 10, 30, 0),
			end: new Date(2016, 08, 16, 12, 30, 0)
		}
	]);

	var options = {
		showCurrentTime: false,
		width: '80%',
		height: '200px',
		stack: false,
		selectable: true,
		start: new Date(2016, 8, 16, 7, 0, 0),
		end: new Date(2016, 8, 16, 21, 0, 0)
	};

	var timeline = new vis.Timeline(container);
	timeline.setOptions(options);
	timeline.setGroups(groups);
	timeline.setItems(items);

	timeline.on("timechange", function(event) {
		var item = items.get(customTimeBarId);
		var followingEvents = getFollowingEvents(item);
		console.log("Adjust time of ", item.id);
		item.end = new Date(event.time);
		diff=get_time_difference(item.start,item.end);

		followingEvents.forEach(function(element,index,array) {
			//element.start +=
		});

		items.update(item);
		console.log("Changed time by : ", diff);

	});

	timeline.on("timechanged", function(event) {
		console.log("updated");
	});

	timeline.on('select', function(props) {
		if (customTimeBarId != 0) {
			timeline.removeCustomTime(customTimeBarId);
		}
		var id = props["items"][0];
		customTimeBarId = id;
		var item = items.get(id);
		console.log("Selected: (" + item.content + ")");
		timeline.addCustomTime(item.end, id);

		// get all events after
		var followingEvents = [];
		var eventsString = "";
		items.forEach(function (element, index, array) {
			if (item.end <= element.start) {
				followingEvents.push(element);
				eventsString += "(" + element["content"] + ") ";
			}
		});
		console.log("Following events: " + eventsString);

	});

	function getFollowingEvents(item) {
		var followingEvents = [];
		var eventsString = "";
		items.forEach(function (element, index, array) {
			if (item.end <= element.start) {
				followingEvents.push(element);
				eventsString += "(" + element["content"] + ") ";
			}
		});
		return followingEvents;
	}

function get_time_difference(earlierDate, laterDate) {
	var oDiff = new Object();

	//  Calculate Differences
	var nTotalDiff = laterDate.getTime() - earlierDate.getTime();

	oDiff.days = Math.floor(nTotalDiff / 1000 / 60 / 60 / 24);
	nTotalDiff -= oDiff.days * 1000 * 60 * 60 * 24;

	oDiff.hours = Math.floor(nTotalDiff / 1000 / 60 / 60);
	nTotalDiff -= oDiff.hours * 1000 * 60 * 60;

	oDiff.minutes = Math.floor(nTotalDiff / 1000 / 60);
	nTotalDiff -= oDiff.minutes * 1000 * 60;

	oDiff.seconds = Math.floor(nTotalDiff / 1000);

	//  Format Duration
	//  Format Hours
	var hourtext = '00';
	if (oDiff.days > 0){ hourtext = String(oDiff.days);}
	if (hourtext.length == 1){hourtext = '0' + hourtext};

	//  Format Minutes
	var mintext = '00';
	if (oDiff.minutes > 0){ mintext = String(oDiff.minutes);}
	if (mintext.length == 1) { mintext = '0' + mintext };

	//  Format Seconds
	var sectext = '00';
	if (oDiff.seconds > 0) { sectext = String(oDiff.seconds); }
	if (sectext.length == 1) { sectext = '0' + sectext };

	//  Set Duration
	var sDuration = hourtext + ':' + mintext + ':' + sectext;
	oDiff.duration = sDuration;

	return oDiff;
}

</script>

</body>
</html>
